body{
    margin: 0;
    box-sizing: border-box;
}
.big{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    margin: auto;
}
.container{
    width: 33%;
    display: flex;
}
img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}
.black-bg{
    width: 198px;
    height: 200px;
    background-color: rgba( 0, 0, 0, 0.3);
    position: absolute;
}
img:hover .black-bg{
    width: 0;
    height: 0;
}
.img1{
    transition-duration:0.5s ;
    transition-timing-function: ease-in-out;
    transition-delay: 0.3s;
}