body{
    box-sizing: border-box;
}
div{
    margin: auto;
    border-radius: 50px;
    border: 1px solid #ccc;
    width: 50px;
    height: 25px;
    background-color: rgb(103, 101, 101);
    position: relative;
}
.ball{
    background-color: #fff;
    border-radius: 100px;
    width: 25px;
    height: 23px;
    position: absolute;
    transition-duration: 0.5s;
    transition-property: right;
    right: 22px;
    top: 0;
}
#check{
    height: 0;
    width: 0; 
    opacity: 0; 
    visibility: hidden; 
}
#check:checked + label .ball{
    right:0;
}