body{
    box-sizing: border-box;
}
.container{
    width: 400px;
    background-color: #728FCE;
    margin: auto;
}
.line{
    border-top: 2px solid green;
    padding: 10px;
    transition-duration: 0.8s;
    transition-property: all;
}
.line p{
    font-size: 18px;
    transition-duration: 0.8s;
    transition-property: all;
}
.line:hover {
    padding: 30px;
    background-color: #808080;
}
.line p:hover{
    font-size: 26px ;
}
.fourth p:hover{
    font-size: 32px ;
}
.fifth p:hover{
    font-size: 32px ;
}