.container{
    margin: 50px 20px;
}

.blue{
    background-color: blue;
    width: 200px;
    height: 200px;
    transition-duration: 0.9s;
    transition-property: all ;
}
.blue:focus {
    width: 100%;
}
.green{
    background-color: green;
    width: 200px;
    height: 200px;
    transition-duration: 0.9s;
    transition-property: width ;
    transition-delay: 0.3s;
}
.green:hover{
    width: 100%;
}