header{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #ccc ;
}
header img{
    width: 150px;
    height: 80px;
    object-fit: cover;
    margin-left: 20px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li{
    list-style: none;
    margin: 10px;
}
ul .menu{
    display: none;
}
.button{
    border-radius: 5px;
    border: 1px solid ;
    padding: 10px 22px;
}
main{
    display: flex;
    margin: 50px;
}
.image-big{
    width: 50%;
}
.image-big img{
    width: 100%;
}
.head-tit{
    width: 50%;
}
.head-tit h1{
    font-size: 100px;
    width: 100%;
    margin-bottom: 0;
}
.head-tit p{
    width: 100%;
    font-size: 24px;
}
.head-tit .purple{
    display: inline-block;
    background-color: #483D8B;
    color: white;
}
footer{
    text-align: center;
    background-color: #ccc;
    padding: 0 150px;
}
footer h2{
    font-size: 35px;
    margin-bottom: 0;
    padding-top: 30px;
}
footer .button{
    display: inline-block;
    color: #483D8B ;
    font-weight: 700;
}
.logos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px;
}
.logos img{
    width: 25%;
    height: 150px;
    object-fit: cover;
    padding: 20px;
}
@media  screen and ( max-width: 700pc) {
    header ul{
        display: none;
    }
    header ul li .menu{
        display: block;
        width: 100px;
        height: 100px;
    }
    
}