body{
    margin: 0;
}
.container{
    background-color: #ccc;
    padding: 50px;
}
.section1, .section2{
    display: flex;
    background-color: white;
    margin: 30px;
    box-shadow: 5px 5px 10px;
}
.text{
    padding: 10px 30px;
}
.light{
    color: #ccc;
    font-size: 14px;
}
a{
    display: flex;
    justify-content: end;
    color: green;

}
img{
    width: 40%;
    object-fit: cover;
}
@media screen and (max-width:700px){
    .section1, .section2{
        display: block;
    }
    img{
        width: 100%;
    }  
    .section2{
        display: flex;
        flex-direction: column-reverse;
    }
}